@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Atma:wght@600&family=Racing+Sans+One&display=swap');
/* font 2 */
@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Anton&family=Black+Han+Sans&family=Edu+NSW+ACT+Foundation:wght@700&family=Lilita+One&family=Pacifico&family=Passion+One&family=Satisfy&display=swap');


* {
  margin        : 0;
  padding       : 0;
  font-family   : 'acme', sans-serif;
  letter-spacing: 1px;
}

body {
  background-color: rgb(67, 67, 67);
}

/* Navnbar */
nav .logo {
  display           : flex;
  font-weight       : 1000;
  transition        : all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition   : all 0.8s;
  -ms-transition    : all 0.8s;
  -o-transition     : all 0.8s;
}

nav .logo img {
  align-items  : center;
  height       : 30px;
  padding-left : 3px;
  padding-right: 0.5rem;
}

h3 {
  color          : aliceblue;
  font-size      : 18px;
  margin-top     : 3px;
  padding-top    : 7px;
  align-items    : center;
  justify-content: center;
}

nav div {
  align-items: center;
}


nav {
  display            : flex;
  background-color   : rgb(121, 2, 2);
  justify-content    : space-around;
  align-items        : center;
  height             : 60px;
  width              : 100%;
  border-bottom-style: ridge;
  border-color       : rgb(0, 0, 0);
}

nav ul {
  display        : flex;
  font-family    : "atma", sans-serif;
  list-style     : none;
  width          : 35%;
  justify-content: space-around;
  margin-top     : 35px;
}

nav ul li a {
  cursor           : pointer;
  text-decoration  : none;
  color            : rgb(255, 255, 255);
  letter-spacing   : 1px;
  font-size        : 12px;
  font-weight      : 700;
  transform        : rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform   : rotate(5deg);
  -ms-transform    : rotate(5deg);
  -o-transform     : rotate(5deg);
}

nav ul li a:hover {
  color                : rgb(4, 162, 54);
  text-decoration      : underline;
  text-decoration-color: #ffffff;
  text-underline-offset: 10px;
  transition           : 0.3s;
  -webkit-transition   : 0.3s;
  -moz-transition      : 0.3s;
  -ms-transition       : 0.3s;
  -o-transition        : 0.3s;
}

nav ul li a.active {
  font-size            : 12px;
  text-decoration-color: #ffffff;
  color                : rgb(4, 162, 117);
  text-underline-offset: 10px;
  letter-spacing       : 1px;
  font-weight          : 700;
  transform            : rotate(5deg);
  -webkit-transform    : rotate(5deg);
  -moz-transform       : rotate(5deg);
  -ms-transform        : rotate(5deg);
  -o-transform         : rotate(5deg);
}

/* Menu Toggle */
.menu-toggle {
  display        : none;
  flex-direction : column;
  margin-right   : 1rem;
  height         : 20px;
  justify-content: space-between;
  position       : relative;
  cursor         : pointer;
}

.menu-toggle input {
  position    : absolute;
  margin-right: 1rem;
  width       : 75px;
  height      : 35px;
  left        : -30px;
  top         : -8px;
  opacity     : 0;
  cursor      : pointer;
  z-index     : 2;
}

.menu-toggle span {
  display              : block;
  margin-bottom        : 0.5px;
  width                : 25px;
  height               : 3.5px;
  background-color     : rgb(63, 2, 2);
  transition           : 0.3s;
  -webkit-transition   : 0.3s;
  -moz-transition      : 0.3s;
  -ms-transition       : 0.3s;
  -o-transition        : 0.3s;
  border-radius        : 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius   : 3px;
  -ms-border-radius    : 3px;
  -o-border-radius     : 3px;
  border-style         : inset;
  border-width         : 1px;
  border-color         : rgb(242, 242, 242);
}

/* Animation Menu */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  z-index          : 1;
  width            : 15px;
  background-color : rgb(255, 0, 0);
  transform        : rotate(-38deg) translate(-15px, 0);
  -webkit-transform: rotate(-38deg) translate(-15px, 0);
  -moz-transform   : rotate(-38deg) translate(-15px, 0);
  -ms-transform    : rotate(-38deg) translate(-15px, 0);
  -o-transform     : rotate(-38deg) translate(-15px, 0);
  border-style     : outset;
  border-color     : rgb(255, 0, 0);
  border-width     : 1px;
}

.menu-toggle input:checked~span:nth-child(4) {
  z-index          : 1;
  width            : 15px;
  background-color : rgb(255, 0, 0);
  transform        : rotate(38deg) translate(-15px, 0);
  -webkit-transform: rotate(38deg) translate(-15px, 0);
  -moz-transform   : rotate(38deg) translate(-15px, 0);
  -ms-transform    : rotate(38deg) translate(-15px, 0);
  -o-transform     : rotate(38deg) translate(-15px, 0);
  border-style     : outset;
  border-color     : rgb(255, 0, 0);
  border-width     : 1px;
}

.menu-toggle input:checked~span:nth-child(3) {
  background-color : rgb(255, 0, 0);
  opacity          : 1;
  transform        : scale(1) translate(-5px);
  -webkit-transform: scale(1) translate(-5px);
  -moz-transform   : scale(1) translate(-5px);
  -ms-transform    : scale(1) translate(-5px);
  -o-transform     : scale(1) translate(-5px);
  border-style     : outset;
  border-color     : rgb(255, 0, 0);
  border-width     : 1px;
}

/* Responsive Breakpoint */

/* Ukuran Tablet */
@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* Ukuran Mobile */
@media screen and (max-width: 686px) {
  .menu-toggle {
    display: flex;
  }

  nav ul {
    position          : fixed;
    justify-content   : space-evenly;
    flex-direction    : column;
    align-items       : center;
    background-color  : rgb(0, 0, 0);
    transition        : all 0.5s;
    margin-top        : 60px;
    height            : 100vh;
    z-index           : 1;
    width             : 90%;
    right             : 0;
    top               : 0;
    transform         : translateX(100%);
    -webkit-transition: all 0.5s;
    -moz-transition   : all 0.5s;
    -ms-transition    : all 0.5s;
    -o-transition     : all 0.5s;
    opacity           : 0;
  }

  nav ul li a {
    color: rgb(255, 255, 255);
  }
}

/* Iphone SE */
@media screen and (max-width: 375px) {
  .menu-toggle {
    display: flex;
  }
}

nav ul.slide {
  opacity          : 85%;
  transform        : translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform   : translateX(0);
  -ms-transform    : translateX(0);
  -o-transform     : translateX(0);
}


/* HEADING */

center h1 {
  color        : #7b0b03;
  font-family  : "acme", cursive;
  margin-top   : 90px;
  margin-bottom: 25px;
  margin-left  : 25px;
  margin-right : 25px;
  font-weight  : 900;
  font-size    : 20px;
}

h1 span {
  color: #00322d;
}

h5 {
  font-size      : 12px;
  margin-left    : 2rem;
  margin-right   : 2rem;
  color          : rgb(0, 3, 5);
  animation-delay: 1000ms;
}

p {
  margin-left : 2rem;
  margin-right: 2rem;
  font-size   : 15px;
  color       : rgb(0, 0, 0);
}

/* CONTENT---------------------------------------------- */
h2.Heading {
  padding    : 5rem;
  padding-top: 7rem;
  color      : #6e0000;
}


.phone {
  display        : flex;
  position       : relative;
  justify-content: center;
  margin         : 7px;
  margin-top     : 30px;
  margin-bottom  : 10px;
  padding-top    : 1rem;
  transition     : 3s;
  animation-delay: 2s;
}


.mail {
  display        : flex;
  position       : relative;
  justify-content: center;
  font-size      : 18px;
  margin         : 7px;
  margin-bottom  : 10px;
  padding-bottom : 5rem;
  transition     : 3s;
  animation-delay: 2s;
}

.phone i {
  font-size: 25px;
}

.phone p {
  font-size: 18px;
}

.mail i {
  font-size: 25px;
}

.mail p {
  font-size: 18px;
}

.social-links-dpm a {
  margin          : 3rem;
  display         : wrap;
  position        : relative;
  justify-content : space-around;
  align-items     : center;
  font-size       : 30px;
  border-radius   : 20%;
  transition      : 1000ms;
  transition-delay: 2000ms;
  animation-delay : 3000ms;
}

@media (max-width: 1024px) {
  .contact_us_green .responsive-container-block.container {
    justify-content: center;
  }

  .contact_us_green .text-blk.contactus-subhead {
    max-width: 90%;
  }

  .contact_us_green .head-text-box {
    display: block;
  }

  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-7.wk-ipadp-10.line {
    padding-top   : 0px;
    padding-right : 20px;
    padding-bottom: 80px;
    padding-left  : 0px;
  }

  .contact_us_green .line {
    border-right-width : initial;
    border-right-style : none;
    border-right-color : initial;
    border-bottom-width: 1.8px;
    border-bottom-style: solid;
    border-bottom-color: #a2a2a2;
  }

  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    margin-top   : 60px;
    margin-right : 0px;
    margin-bottom: 0px;
    margin-left  : 0px;
  }

  .contact_us_green .workik-contact-bigbox {
    display: flex;
  }

  .contact_us_green .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-5.wk-ipadp-10 {
    padding-top   : 0px;
    padding-right : 0px;
    padding-bottom: 0px;
    padding-left  : 0px;
  }
}

@media (max-width: 768px) {
  .contact_us_green .text-content {
    display: none;
  }

  .contact_us_green .input {
    width: 100%;
  }

  .contact_us_green .textinput {
    width: 100%;
  }

  .contact_us_green .text-blk.contactus-head {
    font-size: 30px;
  }
}

@media (max-width: 500px) {
  .contact_us_green .responsive-container-block.big-container {
    padding-top   : 0px;
    padding-right : 20px;
    padding-bottom: 0px;
    padding-left  : 20px;
  }

  .contact_us_green .workik-contact-bigbox {
    display: block;
  }

  .contact_us_green .text-blk.input-title {
    font-size: 16px;
  }

  .contact_us_green .text-blk.contactus-head {
    font-size: 26px;
  }

  .contact_us_green .text-blk.contactus-subhead {
    font-size  : 16px;
    line-height: 23px;
  }

  .contact_us_green .input {
    height: 45px;
  }

  .contact_us_green .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin: 0 0 25px 0;
  }
}

/* CONTENT END---------------------------------------------- */
/* --------------------------------------------------- */
/* FOOTER */
body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin   : auto;
}


.row {
  display  : flex;
  flex-wrap: wrap;
}


.footer {
  background-color: #171717;
  padding         : 50px 0;
  height          : 210px;
}

.footer-col {
  background-color: #171717;
  width           : 35%;
  padding         : 0 15px;
}

.footer-col h4 {
  font-size  : 18px;
  color      : #ffffff;
  font-weight: 500;
  position   : relative;
}

/*  */

.footer-col .social-links-me a {
  display      : inline-block;
  font-size    : 20px;
  height       : 40px;
  width        : 40px;
  margin       : 20px;
  margin-bottom: 20px;
  text-align   : center;
  line-height  : 40px;
  border-radius: 25%;
  color        : #00e5ff;
  transition   : all 0.5s ease;
}

.footer-col .social-links-me a:hover {
  color           : #000000;
  background-color: #9b9a9a;
}



/*responsive*/
@media(max-width: 767px) {
  .footer-col {
    width        : 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}